html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
}

a{
    text-decoration: none;
}

a:visited{
    color: white;
}


body{
    display: flex;
    flex-direction: row;
}

ul, li{
    padding:0;
    margin: 0;
}

#sidebar{
    width: 35vmin;
    height: 100%;
    background-color: #bb5b58;
    color: white;
    transition-duration: 1000ms;
    z-index: 10;
}

#closeSidebar{
    width: 100%;
    height: 2em;
    padding: 2em 0;
    margin: auto;
    text-align: center;
    cursor: pointer;
    list-style-type: none;
}

#sidebarList{
    margin: 0;
    padding: 0;
}

.sidebarItem, .active{
    width: 100%;
    height: 2em;
    padding: 2em 0;
    list-style-type: none;
    margin: auto;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.active{
    background-color: #5b58bb;
}

.sidebarItem:hover, #closeSidebar:hover{
    background-color: #5b58bb;
    transition-duration: 0;
}

#mainWindow{
    width: 100%;
    height: 100%;
    margin: 1em;
    text-align: center;
}

#timerList{
    margin: auto;
}

.timerContent{
    padding: 3em;
    border-radius: 2em;
    margin: 2em 2em;
    border: 1px solid #bb5886;
}

#timerText{
    position:relative;
    margin: 0.2em auto;
}

#timerText:hover{
    color: #5b58bb;
    cursor: pointer;
}

#modalContent{
    position: absolute;
    box-sizing: border-box;

    width: 20em;
    height: 10em;
    border: 1px solid #888;
    background-color: #5b58bb;
    padding: 0;
    border-radius: 1em;
    display: none;
    text-align: center;
}

#modalContent > *{
    display: block;
    margin: 0.5em auto;
}

#modalContentHeader > 

.projectNameTimerBackground{
    font-size: 101px;
    color: rgba(213,223,188, 0.3);
    z-index: -10;
    margin: -3% 30%;
    position: absolute;
}

.modalHeaderText{
    padding: 0;
    margin: 0;
}

#projectModalContainer{
    position: absolute;
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding: 0;
    border: 1px solid #888;
    background-color: #5b58bb;
    color: white;
    border-radius: 1em;
    display: none;
    text-align: center;
}

#projectModalContainerHeader, .modalHeader{
    padding: 0;
    border-radius: 1em 1em 0 0;
    margin: 0;
    position: relative;
}

#projectModalContainerHeader:hover, .modalHeader:hover{
    background-color: #5b58cb;
}

#projectModalContent{
    display: flex;
    flex-direction: column;
    margin: 1em;
    text-align: start;
}

#projectModalContent > *{
    margin: 0.2em 0;
}

#projectDescription{
    resize: none;
}

#projectModalContent > button{
    margin: 1em 0 0 0;
    align-self: flex-end;
    width: 6em
}

