html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
}

body{
    display: flex;
    flex-direction: row;
}

ul, li{
    padding:0;
    margin: 0;
}

#sidebar{
    width: 35vmin;
    height: 100%;
    background-color: #bb5b58;
    color: white;
    transition-duration: 1000ms;
}

#closeSidebar{
    width: 100%;
    height: 2em;
    padding: 2em 0;
    margin: auto;
    text-align: center;
    cursor: pointer;
    list-style-type: none;
}

#sidebarList{
    margin: 0;
    padding: 0;
}

.sidebarItem, .active{
    width: 100%;
    height: 2em;
    padding: 2em 0;
    list-style-type: none;
    margin: auto;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.active{
    background-color: #5b58bb;
}

.sidebarItem:hover, #closeSidebar:hover{
    background-color: #5b58bb;
    transition-duration: 0;
}

#mainWindow{
    width: 100%;
    text-align: center;
}

#timerContent{
    padding: 3em;
    border-radius: 2em;
    margin: 2em 2em;
    border: 1px solid #bb5886;
}

#timerText{
    position:relative;
    margin: 0.2em auto;
}

#timerText:hover{
    color: #5b58bb;
    cursor: pointer;
}

#modalContent{
    background: white;
    position: fixed;
    top: 0;
    margin: 5em 50em;
    width: 20em;
    height: 10em;
    border: 1px solid black;
    border-radius: 1em;
    display: none;
}

